<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>STOCK</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div class="header">
	<div class="menu-container">
		<a href="/" class="menu">MAIN</a>
<!--		<a href="/select/stock" class="menu">STOCK</a>-->
<!--		<a href="/select/upbit" class="menu">UPBIT</a>-->
		<a href="/my" class="menu">MY-PAGE</a>
		<a href="/admin/setting" class="menu admin-menu">ADMIN</a>
	</div>
	<a href="/logout" class="logout">LOGOUT</a>
</div>

<div class="content">
	<h1>배당주 목록</h1>

	<p class="highlight-blue" th:if="${items != null}" th:text="|총 ${items.size()} 종목|"></p>

	<div class="stock-cards-container">
		<div class="stock-card" th:each="stock : ${items}">
			<h3 th:text="${stock.name}">종목명</h3>
			<p>
				배당수익률:
				<span class="highlight-green"
					  th:text="|${#numbers.formatDecimal(stock.dividendRate, 1, 2)}%|">0.00%</span>
			</p>
			<p th:if="${stock.exDivDate != null}">
				기준일:
				<span th:text="${stock.exDivDate}">YYYY-MM-DD</span>
			</p>
			<p th:if="${stock.payDate != null}">
				지급일:
				<span th:text="${stock.payDate}">YYYY-MM-DD</span>
			</p>
		</div>
	</div>

	<div th:if="${items == null || items.isEmpty()}" class="no-data">
		<p>현재 표시할 배당주 데이터가 없습니다.</p>
	</div>
</div>
</body>
</html>
