<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>MAIN</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
	<div class="header">
		<div class="menu-container">
			<a href="/" class="here">MAIN</a>
<!--			<a href="/select/stock" class="menu">STOCK</a>-->
<!--			<a href="/select/upbit" class="menu">UPBIT</a>-->
			<a href="/my" class="menu">MY-PAGE</a>
			<a href="/admin/setting" class="menu admin-menu">ADMIN</a>
		</div>
		<a href="/logout" class="logout">LOGOUT</a>
	</div>

	<div class="content">
		<h1>주식 및 코인 TRACKING</h1>
		<button id="goStockList" class="button">STOCK</button>
		<button id="goUpbitList" class="button">UPBIT</button>
		<button id="goDividendStockList" class="button">DIVIDEND STOCK</button>
	</div>

	<script>
		document.querySelector("#goStockList").addEventListener("click", () => {
			location.href = "/select/stock";
		});

		document.querySelector("#goUpbitList").addEventListener("click", () => {
			location.href = "/select/upbit";
		});

		document.querySelector("#goDividendStockList").addEventListener("click", () => {
			location.href = "/select/dividend/stock";
		});
	</script>
</body>

</html>