<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>UPBIT KEY</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
<div class="header">
	<div class="menu-container">
		<a href="/" class="menu">MAIN</a>
<!--		<a href="/select/stock" class="menu">STOCK</a>-->
<!--		<a href="/select/upbit" class="menu">UPBIT</a>-->
		<a href="/my" class="menu">MY-PAGE</a>
		<a href="/admin/setting" class="menu admin-menu">ADMIN</a>
	</div>
	<a href="/logout" class="logout">LOGOUT</a>
</div>

	<div class="content">
		<p>IP is: <span th:text="${ip}"></span></p>

		<form method="post">
			<p>ACCESS KEY : <input type="text" name="access"></p>
			<p>SECRET KEY : <input type="text" name="secret"></p>
			<button class="button">INSERT</button>
		</form>
	</div>
</body>

</html>