<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUTOS</title>
    <link rel="stylesheet" th:href="@{/css/user.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div class="header">
    <div class="menu-container">
        <a href="/" class="menu">MAIN</a>
        <a href="/admin/users" class="menu admin-menu">USERS</a>
        <a href="/admin/autos" class="here">AUTOS</a>
        <a href="/admin/setting" class="menu admin-menu">SETTING</a>
    </div>
	<a href="/logout" class="logout">LOGOUT</a>
</div>

<div class="content">
    <form method="post">
        <h1>AUTO ON/OFF</h1>
        <table class="user-table">
            <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>ON (UPBIT)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="auto, iterStat : ${autos}">
                <td th:text="${auto.userLoginId}"></td>
                <td th:text="${auto.userName}"></td>
                <td>
                    <input type="hidden" th:name="'autoMangers[' + ${iterStat.index} + '].userLoginId'" th:value="${auto.userLoginId}"/>
                    <input type="hidden" th:name="'autoMangers[' + ${iterStat.index} + '].userName'" th:value="${auto.userName}"/>
                    <input type="checkbox" th:checked="${auto.upbitAuto eq 'ON'}" onclick="checkUPbitAuto(this)" />
                    <input type="hidden" th:name="'autoMangers[' + ${iterStat.index} + '].upbitAuto'" th:value="${auto.upbitAuto}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${autos == null || autos.size() == 0}" class="no-data">
            <p>현재 표시할 데이터가 없습니다.</p>
        </div>
        <p>키값이 없거나 유효하지 않으면 자동 취소</p>
        <button class="button">확인</button>
    </form>
</div>

<script>
    function checkUPbitAuto(e) {
        e.parentElement.children[3].value = e.checked ? "ON" : "OFF";
    }
</script>
</body>
</html>
