<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIL</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div class="header">
    <div class="menu-container">
        <a href="/" class="menu">MAIN</a>
        <a href="/admin/users" class="menu admin-menu">USERS</a>
        <a href="/admin/autos" class="menu admin-menu">AUTOS</a>
        <a href="/admin/setting" class="here">SETTING</a>
    </div>
	<a href="/logout" class="logout">LOGOUT</a>
</div>

<div class="content">
    <h1>주식 분석 및 전송</h1>
    <p>1. 배치 작업 전에 송신</p>
    <button id="stockInfoStart" class="button">STOCK 송신:START</button>
    <button id="upbitInfoStart" class="button">UPBIT 송신:START</button>

    <h1>Targets List</h1>
    <ul>
        <li class="target-item" th:each="target : ${targets}">
            <span th:text="${target.email}"></span>
            <button class="delete-button" onclick="deleteTargetEmail(this)" th:attr="data-email=${target.email}">삭제</button>
        </li>
    </ul>

    <p>타겟 메일 추가</p>
    <input id="targetEmail" class="input-field" placeholder="targetEmail"/>
    <button id="addTargetEmail" class="button" type="button">타겟 이메일 추가</button>

    <p>지메일 토큰 전달</p>
    <input id="token" class="input-field" placeholder="stToken"/>
    <button id="gmailTokenCheckSend" class="button" type="button">지메일 토큰 확인 코드 송신</button>
    <input id="gmailToken" class="input-field hidden" placeholder="gmailToken"/>
    <input id="gmail" class="input-field hidden" placeholder="gmail"/>
    <button id="gmailTokenSend" class="button hidden" type="button">지메일 토큰 송신</button>
</div>

<script>
    document.querySelector("#stockInfoStart").addEventListener("click", () => {
        document.querySelector("#stockInfoStart").disabled = true;
        fetch("stock", {method: "GET"}).then(res => res.json()).then(data => {
            if(data) document.querySelector("#stockInfoStart").disabled = false;
        })
    });

    document.querySelector("#upbitInfoStart").addEventListener("click", () => {
        document.querySelector("#upbitInfoStart").disabled = true;
        fetch("upbit", {method: "GET"}).then(res => res.json()).then(data => {
            if(data) document.querySelector("#upbitInfoStart").disabled = false;
        })
    });

    document.querySelector("#gmailTokenCheckSend").addEventListener("click", () => {
        fetch("gmail/pw", {
            method: "POST",
            headers:{
                "Content-Type": "application/json",
            },
            body:JSON.stringify(document.querySelector("#token").value)
        }).then(res => res.json()).then(data => {
            if (data) {
                document.querySelector("#token").classList.add("hidden");
                document.querySelector("#gmailTokenCheckSend").classList.add("hidden");
                document.querySelector("#gmailToken").classList.remove("hidden");
                document.querySelector("#gmail").classList.remove("hidden");
                document.querySelector("#gmailTokenSend").classList.remove("hidden");
            } else alert('FAIL');
        })
    });

    document.querySelector("#gmailTokenSend").addEventListener("click", () => {
        fetch("gmail/token", {
            method: "POST",
            headers:{
                "Content-Type": "application/json",
            },
            body:JSON.stringify({
                token:document.querySelector("#gmailToken").value,
                fromEmail:document.querySelector("#gmail").value
            })
        }).then(res => res.json()).then(data => {
            if (data) {
                document.querySelector("#gmailToken").classList.add("hidden");
                document.querySelector("#gmail").classList.add("hidden");
                document.querySelector("#gmailTokenSend").classList.add("hidden");
                document.querySelector("#token").classList.remove("hidden");
                document.querySelector("#gmailTokenCheckSend").classList.remove("hidden");
            } else alert('FAIL');
        })
    });

    const validateEmail = (email) => {
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(email);
    }

    document.querySelector("#addTargetEmail").addEventListener("click", () => {
        const email = document.querySelector("#targetEmail").value;
        if(!validateEmail(email)) {
            alert("이메일 형식을 확인하시오");
            return;
        }
        fetch("gmail/target", {
            method: "POST",
            headers:{
                "Content-Type": "application/json",
            },
            body:JSON.stringify(email)
        }).then(res => location.reload());
    });

    const deleteTargetEmail = (button) => {
        const email = button.getAttribute('data-email');
        fetch(`gmail/target/${email}`, {
            method: 'DELETE',
        }).then(res => location.reload());
    };
</script>
</body>
</html>
